<div th:fragment="header">
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Автоподбор</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link"  href="/getAllCar">Машины</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/getAllManufacturers">Производители</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getAllAssessment">Статистика</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/getAllComment">Истории владельцев автомобиля</a>
                </li>



            </ul>

        </div>
    </div>
</nav>
    <br>
    <br>
    <br>
    <br>
</div>